@import "tailwindcss";

@keyframes flicker {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.1;
    }

    22% {
        opacity: 0.4;
    }

    23% {
        opacity: 0.1;
    }

    24% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.2;
    }

    55% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.1;
    }

    66% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.3;
    }

    77% {
        opacity: 0.1;
    }

    85% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.2;
    }
}

.animate-flicker {
    animation: flicker 0.1s infinite;
}

.text-shadow-glow {
    text-shadow: 0 0 5px rgba(255, 0, 195, 0.7);
}

.crt-glow-hover:hover {
    box-shadow: 0 0 20px #ff00c3;
}